<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Cursos</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <!-- Menu -->
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>

            </ul>


        </div>

        <div id="Esquerda">

            <h1>Conheça nossos cursos</h1>
            <p>
                Nós inovamos mais uma vez e agora lançamos o mais novo curso de informática, com módulos de web e criação
                <br> de aplicativos mobile.
                <br> Ele está organizado em 15 módulos e possui quatro certificações intermediárias. Nosso objetivo é fazer
                <br> com que nossos alunos possuam múltiplos conhecimentos e assim tornem-se competitivos no mercado
                <br> de trabalho. São diversos módulos montados e planejados de maneira estratégica e atual para tornar o aluno
                Impacta
                <br> um profissional completo. É um curso indicado para jovens que buscam qualificação e também para pessoas
                <br> com experiência de mercado, mas que desejam reciclar seus conhecimentos fazendo um curso de informática
                atual.
                <br>
            </p>
            </br>
            <table border=1>
                <tr>
                    <td>
                        <b>
                            <center>Curso</td>
                    <td>
                        <b>
                            <center>Nível</td>
                    <td>
                        <b>
                            <center>Módulos</td>
                    <td>
                        <b>
                            <center>Detalhes</td>
                </tr>
                <tr>
                    <td>
                        <center>Informática</td>
                    <td>
                        <center>Tecnico</td>
                    <td>
                        <center>15</td>
                    <td>
                        <center>
                            <a href='detalhes_1.html' style="color:blue">Clique aqui para saber mais</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>Games</td>
                    <td>
                        <center>Tecnólogo</td>
                    <td>
                        <center>13</td>
                    <td>
                        <center>
                            <a href='detalhes_2.html' style="color:blue">Clique aqui para saber mais</a>
                    </td>

                </tr>
                <tr>
                    <td>
                        <center>Hardware</td>
                    <td>
                        <center>Tecnólogo</td>
                    <td>
                        <center>8</td>
                    <td>
                        <center>
                            <a href='detalhes_3.html' style="color:blue">Clique aqui para saber mais</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>Informática Industrial</td>
                    <td>
                        <center>Técnico</td>
                    <td>
                        <center>3</td>
                    <td>
                        <center>
                            <a href='detalhes_4.html' style="color:blue">Clique aqui para saber mais</a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <center>
                <a href='index.html'>Clique aqui para retornar a pagina inicial</a>
            </center>

        </div>

        <div id="Direita">

            O conteúdo de id "Direita" é inserido aquiO conteúdo de id "Direita" é inserido aquiO conteúdo de id "Direita" é inserido
            aquiO conteúdo de id "Direita" é inserido aquiO conteúdo de id "Direita" é inserido aquiO conteúdo de id "Direita"
            é inserido aquiO conteúdo de id "Direita" é inserido aquiO conteúdo de id "Direita" é inserido aquiO conteúdo
            de id "Direita" é inserido aqui

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>