<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Informática</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>

            </ul>


        </div>

        <div id="Esquerda">

            <h1>Detalhes do Curso</h1>
            <p>Ele está organizado em 15 módulos com carga horária de 120 horas e possui quatro certificações intermediárias.
                <br> Nosso objetivo é fazer com que nossos alunos possuam múltiplos conhecimentos e assim tornem-se competitivos
                <br> no mercado de trabalho.
                <br> São diversos módulos montados e planejados de maneira estratégica e atual para tornar o aluno
                <br> Impacta é um profissional completo. É um curso indicado para jovens que buscam qualificação e também para
                <br> pessoas com experiência de mercado, mas que desejam reciclar seus conhecimentos fazendo um curso de
                <br> informática atual.
                <br>
            </p>

        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui</p>

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>