<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Hardware</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>

            </ul>


        </div>

        <div id="Esquerda">

            <h1>Detalhes do Curso</h1>
            <p>Se você quer aprender tudo sobre manutenção de computadores, robótica e smartphones, nosso curso de Hardware
                é ideal.
                <br> Em um curso com carga horária de 100 horas, dividido em 8 módulos,o aluno aprende como resolver inúmeros
                problemas que ocorrem em computadores, pois passa a dominar a parte técnica das máquinas.
                <br> / O aluno se tornará um técnico completo, que sabe montar, configurar e consertar computadores, notebooks,
                impressoras, monitores e redes de internet com e sem fio.
                <br> Tudo isso, aprendendo durante aulas interativas, dinâmicas, em laboratórios e com o auxílio da coleção de
                livros para consultas e dúvidas.
                <br>
            </p>

        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui</p>

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>