<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Informática Industrial</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>

            </ul>


        </div>

        <div id="Esquerda">

            <h1>Detalhes do Curso</h1>
            <p>O curso técnico de Informática Industrial, com carga horária de 80 horas,divido em 3 módulos, capacita o aluno
                para trabalhar em qualquer empresa que possua um sistema informatizado. O profissional é habilitado para
                atuar em ambientes de redes, hardware e diferentes softwares.

            </p>

        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui</p>

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>