<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Games</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>

            </ul>


        </div>

        <div id="Esquerda">

            <h1>Detalhes do curso</h1>
            <p>O curso possui 13 modulos com carga horária de 100 horas ao término do curso, o aluno terá a possibilidade de
                <br> lançar projetos em plataformas como IOs, Android, Steam,Playstation Store, entre outras. Panoramas sobre
                todos
                <br> os tipos de games são apresentados durante as aulas, despertando a criatividade e a compreensão das necessidades
                <br> básicas para o desenvolvimento de jogos.
                <br> Dessa forma, nossos alunos passam a adquirir múltiplas competências e tornam-se competitivos no mercado
                de
                <br> trabalho.
                <br>
            </p>

        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui</p>

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>