<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Impacta Tecnologia</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="login.html">Inscreva-se</a>
                </li>
                <li>
                    <a href="formulario_curso.html">Novo Curso</a>
                </li>
                <li>
                    <a href="formulario_curso.html">Nova Disciplina</a>
                </li>


            </ul>


        </div>

        <div id="Esquerda">

            <h1>Titulo</h1>
            <fieldset id='usuario'>
                <legend>Adicionar novo curso</legend>
                <p>Nome do Curso:
                    <input type='text' name='tNome' id='cNome' /> </p>
                <p> Nivel:
                    <input type='text' name='tNivel' id='cNivel' />
                </p>
                <p> Modulo:
                    <input type='number' name='tMod' id='cMod' />
                </p>
                <p>Detalhes:
                    <textarea name='obs'></textarea>
                    <br>
                </p>
                <input type='submit' value='Enviar'>
        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui</p>

        </div>


        <div id="Arrumar"></div>

        <div id="RODAPE">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>