<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Impacta Tecnologia</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="novo_aluno.html">Novo Aluno</a>
                </li>
                <li>
                    <a href="formulario_curso.html">Novo Curso</a>
                </li>
                <li>
                    <a href="formulario_disciplina.html">Nova Disciplina</a>
                </li>
                <li>
                    <a href="matricula.html">Matricula</a>
                </li>



            </ul>


        </div>

        <div id="Esquerda">

            <h1>Titulo</h1>

            <p>Conteudo</p>
            <table>
                <tr>
                    <td rowspan="1"></td>
                    <td>
                        <img src='imagens/tec1.jpg' width="250" height="180" />
                    </td>
                    <td>
                        <img src='imagens/tec2.jpg' width="250" height="180" />
                    </td>
                    <td>
                        <img src='imagens/tec3.jpg' width="250" height="180" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h1>Noticias</h1>
                        <p></p>
                    </td>
                    <td>
                        <h1>Depoimentos</h1>
                        <p></p>
                    </td>
                    <td>
                        <h1>Prêmios
                            <h1>
                                <p></p>
                    </td>
                    <tr>
            </table>
        </div>
        <div id="Arrumar"></div>

        <div id="RODAPE">CONTATO</div>

    </div>

</body>

</html>