<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="utf-8">

    <title>Portal do aluno</title>

    <!-- todos os dispositivos -->
    <link href="../styles/estilo.css" rel="stylesheet" type="text/css" media="all" />

    <!-- imagem em miniatura que aparece na aba do navegador -->
    <link rel="icon" type="image/png" href="imagens/favicon.jpg" />

</head>

<body>

    <div id="Todas">

        <div id="Topo">

            <img src="imagens/logo.png" style="float:left;" />

            <ul id="menu">

                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="cursos.html">Cursos</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>


            </ul>


        </div>

        <div id="Esquerda">

            <h1>Login</h1>

            <form method='POST' name='cadastro'>
                <lable>
                    <h1>Email:</h1>
                </lable>
                <input type='text' name='nome' placeholder='dígite aqui' required size='30' maxlength='50' />
                <br/>
                <label>
                    <h1>Senha:</h1>
                </label>
                <input type='password' name='senha' />
                <br>
                <br>
                <input type='submit' value='Enviar' />
                <a href="index">

                </a>
                <br>
                <br>
                <p2>
                    <label>Lembrar de mim</label>
                    <br>
                    <input type="radio" name="opcao">sim
                    <input type="radio" name="opcao">não </p2>
            </form>
        </div>

        <div id="Direita" <p>O conteúdo de id "Direita" é inserido aqui </p>

        </div>


        <div id="Arrumar"></div>

        <div id="Rodapé">O conteúdo de id "Rodapé" é inserido aqui</div>

    </div>

</body>

</html>